body {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.div-element {
  padding: 10px;
  background-color: aquamarine;
  margin-bottom: 10px;
}

.span-element {
  background-color: skyblue;
}

.noticed {
  background-color: aquamarine;
}

.presetcss {
  background-color: red;
}
