body {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

div {
  margin: 10px;
}

.div-element {
  padding: 10px;
  background-color: aquamarine;
  margin-bottom: 10px;
}

.span-element {
  background-color: skyblue;
}

.noticed {
  background-color: aquamarine;
}

.presetcss {
  background-color: red;
}

.divblock {
  border: solid blue;
  background-color: aqua;
  padding: 5px;
  margin: 5px;
  display: block;
}

.divinline {
  border: solid red;
  background-color: tomato;
  padding: 5px;
  margin: 5px;
  display: inline;
}

.divflex {
  border: solid orangered;
  background-color: yellow;
  padding: 5px;
  margin: 5px;
  display: flex;
  gap: 20px;
}

.pflex {
  border: solid green;
  background-color: greenyellow;
  margin: 10px;
  padding: 5px;
}

.divcontentbox {
  border: 10px solid goldenrod;
  background-color: aqua;
  box-sizing: content-box;
  width: 100px;

  padding: 5px;
}

.divborderbox {
  border: 10px solid black;
  background-color: orange;
  padding: 5px;
  width: 100px;
  box-sizing: border-box;
}

.imgfloat {
  float: left;
  width: 300px;
  border: solid gray;
  border-radius: 12px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.box {
  border: solid tomato;
  border-radius: 12px;
  background-color: orange;
  width: 200px;
  margin: 20px;
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.box:hover {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.left-float {
  border: solid tomato;
  border-radius: 12px;
  background-color: orange;
  width: 200px;
  float: left;
  font-weight: 700;
  text-align: center;
}

.right-float {
  border: solid green;
  background-color: blue;
  color: white;
  float: right;
  font-weight: 700;
  text-align: center;
}

.pfloat {
  max-width: 600px;
  margin-bottom: 25px;
}

.divclear {
  clear: both;
  border: solid black;
  background-color: gray;
  width: 200px;
  color: white;
  border-radius: 12px;
  padding: 10px;
  font-weight: 700;
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 100px;
}

a {
  margin: 10px;
}

.divhidden {
  overflow: hidden;
  width: 200px;
  height: 50px;
  background-color: #93cdfa;
  border: solid #0a8ff5;
  color: #0a8ff5;
  border-radius: 10px;
  font-weight: 700;
}

.poverflow1 {
  margin: 0px;
}

.poverflow {
  margin: 5px;
}

.divscroll {
  width: 200px;
  height: 100px;
  border: solid #ad6f03;
  background-color: #f5bc5b;
  color: #ad6f03;
  font-weight: 700;
  border-radius: 10px;
  overflow: scroll;
}

.divcontainer {
  transition: box-shadow 0.3s;
}

.divcontainer:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
